*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about{
    background-image: url("image1_background.jpg");
    background-position: center;
    width: 100%;
    height: 140vh;
}
.box-1-4 {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.box4 nav {
    display: flex;
    padding: 0 20px;
    gap: 15px;
    max-width: 100%;
}

.box1{
    background: rgba(115,215,236,1);
    /* position: relative; */
  width: 15%;
  height: 50px;
  text-align: center;
  padding-top: 16px;
  top: 5%;
  left: 40%;
  margin: 10px auto;
}
.box2{
    background-color: azure;
    width: 35%;
    height: 40%;
    text-align:left; 
    padding-top: 35px;
    float: left;
    margin-top: 5%;
    margin-left: 3%;
    text-justify: auto;

}

.box2 p {
    line-height: 2;
    letter-spacing: 2;
    margin-left: 2%;
}
.box3{
    background-color: azure;
    width: 80%;
    height: 15%;
    text-align:center; 
    padding-top: 5px;
    float: left;
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;
}
.box4{
    background: rgba(115,215,236,1);
    text-decoration: none;
    text-align: center;
    width: 40%;
    height: 8%;
    right: 40%;
    margin-top: 15%;
    display: inline-block;
    text-transform: capitalize;
    padding: 15px;
    transition: all .3s ease-in-out;
}
 nav a {
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    padding: 15px;
    transition: all .3s ease-in-out;

}

 nav  a:hover{
    background-color: rgba(221, 200, 124, 0.77);
}
